HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
catalog/components/.DS_Store
catalog/.DS_Store
catalog/systems/.DS_Store
catalog/site/.DS_Store
catalog/domains/.DS_Store
catalog/components/service/.DS_Store
catalog/components/database/.DS_Store
.DS_Store
.DS_Store
