.emojis {
    font-size: 5rem;
    line-height: 5rem;
    white-space: nowrap;
}

.subtitle {
    font-size: 80%;
    margin-top: 10px;
    margin-left: 5px;
    font-style: italic;
}

.title {
    margin-left: 5px;
}

svg {
    width: 24px;
    height: 24px;
    margin-top: -5px;
}