.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emojis {
    font-size: 5rem;
    line-height: 5rem;
}

.clr-row {
    align-items: center;
    justify-content: center;
}

.clr-col {
    width: auto;
    flex-grow: 0;
}

.title {
    margin-left: 5px;
}

.nav-link{
    cursor: pointer;
}

svg {
    width: 24px;
    height: 24px;
}